---
---

@import "{{ site.theme }}";

ul.recipe-list {
    font-size: 18px;

    @media (min-width: 600px) {
        font-size: 16px;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    li {
        list-style: none;
        padding-top: 3px;
        padding-bottom: 3px;

        @media (min-width: 600px) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
